<article class="login-container">


     <header> Moulinette </header> 
    <mat-card fxLayout="column" fxLayoutAlign="space-around strech" class="form-container">
        <mat-form-field >
            <input matInput placeholder="Nom d'utilisateur">
        </mat-form-field>
        <mat-form-field >
                <input matInput placeholder="Mot de passe">
            </mat-form-field>
            <button fxFlex mat-raised-button color="primary" class="btn">Se connecter </button>
    </mat-card>

    <footer>
        <a> Nom ou mot de passe oublié </a>
    </footer>
</article>